html {
  position: relative;
  min-height: 100%;
  }

body {
  margin-bottom: 60px;
  background-color: #fff;
  font-family: Avenir, "Century Gothic", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #3d4952;
}

hr {
  border-top-color: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  line-height: 1.8; /* Vertically center the text there */
  background-color: #003660;
  color: #fff;
  }
